@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/blue.css";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: sans-serif;
  background-color: var(--slate-1);
  color: var(--slate-12);
}

header {
  display: flex;
  justify-content: space-between;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  background-color: var(--slate-3);
  border-radius: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.toggle-slider::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--blue-9);
  transition: all 1s;
}

.toggle-title {
  color: var(--slate-11);
}

.toggle-input:checked + .toggle-slider {
  background-color: var(--slate-5);
}

.toggle-input:checked + .toggle-slider::before {
  transform: translateX(30px);
}

header,
footer {
  padding: 24px;
  background-color: #f9feff;
  color: var(--blue-9);
}

footer {
  text-align: center;
}

main {
  width: 100%;
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--blue-3);
}

.card {
  margin-top: 16px;
  border-radius: 5px;
  padding: 24px;
  background-color: var(--blue-1);
  border: 1px solid var(--slate-6);
  box-shadow: 1px 1px 5px var(--slate-6);
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

#display {
  margin-top: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#temp {
  margin-top: 8px;
  text-align: center;
  font-size: 2rem;
  color: var(--slate-11);
}

#conditions-container {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--slate-12);
}

#conditions-container img {
  height: 100px;
}

#wind-container {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--slate-11);
}

#windDir {
  margin-top: 0;
  margin-right: 8px;
  font-size: 2.5rem;
}

label {
  font-weight: 600;
  display: block;
}

input {
  margin-top: 8px;
  width: 250px;
  padding: 8px 8px;
  border-radius: 5px;
  border: none;
  outline: 1px solid var(--slate-5);
  background-color: var(--slate-1);
}

input:focus {
  outline: 1px solid var(--blue-8);
}

button {
  border-radius: 3px;
  padding: 8px 8px;
  border: none;
  background-color: var(--blue-9);
  color: white;
  margin-bottom: 16px;
}

button:hover {
  background-color: var(--blue-10);
}

button:active {
  transform: translateY(0.5px);
}

.alert {
  margin-bottom: 16px;
  border-radius: 5px;
  padding: 16px;
  background-color: #ff627d;
  color: oklch(0.27 0.105 12.094);
}

.progress {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: var(--slate-9);
  animation: 1s infinite progress ease-out;
}

@keyframes progress {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}
